page-live {

    ion-fab-list {
		button {
			width: 75px;
		}
    }
    // .label {
    //     margin: 0;
    //  }
     
    .item-inner {
        padding-right: 0px!important;
    }
    #map_canvas{
        height: 90%;
         width: 100%;
     }
     #map_canvas_single_device{
        height: 90%;
        width: 100%;
    }
    .divPlan{
        background: transparent;
    }
    .content-ios,
    .content-md {
        // color: #000;
        background-color: transparent;
    }
    .drawer-content {
        // background: rgba(0,0,0,0.5);
        // backdrop-filter: contrast(4) blur(20px);
        // border-top: 0.5px solid #0e0d0d;
        padding: 10px;
        // color: white;
        p {
            font-size: 8px;
        }
        .col {
            padding: 0px;
        }
    }
    .infoB {
        font-size: 13px;
        border-radius: 2px;
        background-color: rgb(44, 32, 32);
        box-shadow: 3px 3px 5px rgb(75, 62, 62);
        color: rgb(133, 87, 87);
        padding: 15px;
    }
    .infoB:before {
        border-top-color: rgb(44, 32, 32);
        border-width: 5.5px;
        margin-top: -1.5px;
    }
    .infoB:after, .infoB:before {
        border: 10px solid transparent;
        border-top-color: rgb(44, 32, 32);
        position: absolute;
        content: '';
        top: 100%;
        left: 9px;
    }


    @-webkit-keyframes blinker {
        from {opacity: 1.0;}
        to {opacity: 0.0;}
        }
        .blink{
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction: alternate;
        }
}
