<ion-header>
    <ion-navbar>
        <ion-title>Add Geofence</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
        <div #mapGeofence id="mapGeofence" data-tap-disabled="true">
            <ion-searchbar class="search_bar" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" (ionCancel)="onCancel($event)"
                placeholder="Search Places...">
            </ion-searchbar>
            <ion-list>
                <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
                    {{ item.description }}
                </ion-item>
            </ion-list>
        </div>
    <!-- </div> -->
    <!-- <div #mapGeofence id="mapGeofence" data-tap-disabled="true"></div> -->

    <form [formGroup]="geofenceForm">
        <ion-item class="logitem">
            <ion-input formControlName="geofence_name" type="text" placeholder="GeoFence Name *"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!geofenceForm.controls.geofence_name.valid && (geofenceForm.controls.geofence_name.dirty || submitAttempt)">
            <p>geofence_name required!</p>
        </ion-item>
        <ion-item>
            <ion-label>Entering Geo Fence</ion-label>
            <ion-checkbox color="dark" formControlName="check" (ionChange)="enteringFunc()"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Exiting Geo Fence</ion-label>
            <ion-checkbox color="dark" formControlName="check1" (ionChange)="exitingFunc()"></ion-checkbox>
        </ion-item>
    </form>
</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row>
            <ion-col style="text-align: center">
                <button ion-button clear color="light" (click)="creategoefence()">Create Geofence</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>